/* CSS Variables */
:root {
    --primary-color: #FCA311;
    --secondary-color: #14213D;
    --text-color: #ABA8A4;
    --white-color: #FFFFFF;
    --danger-color: #FF4040;
    --active-color: #1199FC;
}

/* CSS All */
body {
    background-color: beige;
    font-family: 'Quicksand', sans-serif;
}

.section-all {
    height: 100vh;
    width: 100%;
    max-width: 500px;
    top: 0;
    bottom: 0;
    background-color: var(--white-color);
    background-size: cover;
    -webkit-box-shadow: 0.1px 0.1px 32px 8px rgba(20,33,61,0.16); 
    box-shadow: 0.1px 0.1px 32px 8px rgba(20,33,61,0.16);
}   

.btn {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 600;
    background-color: var(--primary-color);
    border: none;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
}

p {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.input-container {
    width: 88%;display: block;margin-right: auto; margin-left: auto;
}

.input-group {
    margin-top: 1rem;
}

.icon-container {
    padding: .5rem;color: var(--white-color);width: 40px;height: 40px;border-radius: 8px 0 0 8px;background-color: var(--text-color);
} 

.form-control {
    border-radius: 0 8px 8px 0;height: 40px;font-size: 15px;border-color: var(--text-color);
}

@media (min-width: 501px) and (max-width: 1365px) {
    .section-tablet {
        min-width: 100%;
    }
}

@media screen and (min-width: 1366px) {
    .section-desktop {
        width: 28%;
        background-color: var(--white-color);
    }
}